<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
</head>

<body>
    <%- include partials/header.ejs %>
    <section>
        <div>
            <div class="container py-4 py-xl-5">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2>DESTINATIONS</h2>
                        <p class="w-lg-50">Choose the best place you desire. We are there to set the plan according to your availability</p>
                        <div id="displayTable"></div>
                    </div>
                </div>
                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                    <div class="col">
                        <div><img class="rounded img-fluid d-block w-100 fit-cover" alt="aerial photography of flowing waterfall" style="height: 200px;" src="assets/img/photo-1575305327780-a887f284432f.jpg">
                            <div class="py-4">
                                <h4>Kerala</h4>
                                <p>Kerala is one of the prominent tourist destinations of India, with coconut-lined sandy beaches, backwaters, hill stations, Ayurvedic tourism.</p>
                                <a class="btn btn-primary" type="button" href="/details/1">Proceed</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div><img class="rounded img-fluid d-block w-100 fit-cover" alt="brown concrete arch under blue sky during daytime" style="height: 200px;" src="assets/img/photo-1587474260584-136574528ed5.jpg">
                            <div class="py-4">
                                <h4>Delhi</h4>
                                <p>Delhi is a beautiful city and it is the capital of India. It is an old city because it has many buildings that were built during the ancient time.</p>
                                <a class="btn btn-primary" type="button" href="/details/2">Proceed</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div><img class="rounded img-fluid d-block w-100 fit-cover" alt="green plants under cloudy sky during daytime" style="height: 200px;" src="assets/img/photo-1586168845106-e00791152425.jpg">
                            <div class="py-4">
                                <h4>Karnataka</h4>
                                <p>Karnataka is a state in India, located on the country's western coast. Its capital is Bengaluru. Its name is a Kannada word meaning “lofty land.”</p>
                                <a class="btn btn-primary" type="button" href="/details/3">Proceed</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div><img class="rounded img-fluid d-block w-100 fit-cover" alt="green and brown wooden house on lake near snow covered mountain during daytime" style="height: 200px;" src="assets/img/photo-1595815771614-ade9d652a65d.jpg">
                            <div class="py-4">
                                <h4>Jammu and Kashmir</h4>
                                <p>Jammu and Kashmir is the northernmost state of the Union of India. The state shares international border with China and Afghanistan in the north, Tibet in the east and Pakistan in the west. The states of Punjab and Himachal Pradesh form its southern border.</p>
                                <a class="btn btn-primary" type="button" href="/details/4">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" href="/destinations">Destinations</a></li>
                <li class="list-inline-item me-4"><a class="link-light" href="/contact">Contact Us</a></li>
                <li class="list-inline-item"><a class="link-light" href="/">Home</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item me-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook text-light">
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"></path>
                    </svg></li>
                <li class="list-inline-item me-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter text-light">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15"></path>
                    </svg></li>
                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram text-light">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"></path>
                    </svg></li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2024 Brand</p>
        </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script>

        // Initialize Web3
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
      } else {
        web3 = new Web3(new Web3.providers.HttpProvider('HTTP://127.0.0.1:7545'));
      }
      // Set Contract Abi
      var ABI = [
	{
		"inputs": [],
		"name": "deposit",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "_amount",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "email",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "count_t",
				"type": "uint256"
			},
			{
				"internalType": "address payable",
				"name": "referal",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "date",
				"type": "string"
			}
		],
		"name": "process",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address payable",
				"name": "_to",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "_amount",
				"type": "uint256"
			}
		],
		"name": "transferAmount",
		"outputs": [],
		"stateMutability": "payable",
		"type": "function"
	},
	{
		"inputs": [],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"inputs": [],
		"name": "admin",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "count",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "message_index",
				"type": "uint256"
			}
		],
		"name": "getMessage",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			},
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"name": "messages",
		"outputs": [
			{
				"internalType": "address",
				"name": "sender",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "name",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "email",
				"type": "string"
			},
			{
				"internalType": "uint256",
				"name": "count_t",
				"type": "uint256"
			},
			{
				"internalType": "address",
				"name": "referal",
				"type": "address"
			},
			{
				"internalType": "string",
				"name": "date",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "recipient",
		"outputs": [
			{
				"internalType": "address payable",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "referaladdress",
		"outputs": [
			{
				"internalType": "contract Refer",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "tokenAddress1",
		"outputs": [
			{
				"internalType": "contract myToken",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
];      
var Address = '0xe5590a2ec8f447b350449db437a7cc285717cc5a'; // Add Your Contract address here!!!

        // Set the Contract
        var contract = new web3.eth.Contract(ABI, Address);

        async function displayData() {
        try {
            // Get the current user's account address (admin)
            var admin = localStorage.getItem('account_full');

            // gets the total number of messages
            var messageCount = await contract.methods.count().call({ from: admin });

            // Initialize HTML string for the table
            var tableHTML = `
            <div style="color:red">
            <h3>Customer responses <i>(Available only to admins)</i></h3>
            </div>
            <table class="table table-dark">
                    <tr>
                        <th scope="col" >Name</th>
                        <th scope="col" >Email</th>
                        <th scope="col" >Count</th>
                        <th scope="col" >Date</th>
                    </tr>
            `;

            // displays the data
            for (var i = 0; i < messageCount; i++) {
                var result = await contract.methods.getMessage(i).call({ from: admin });
                tableHTML += `
                    <tr>
                        <th scope="row">${result[1]}</td>
                        <td>${result[2]}</td>
                        <td>${result[3]}</td>
                        <td>${result[4]}</td>
                    </tr>
                `;
            }
            tableHTML += `</table>`;
            document.getElementById("displayTable").innerHTML = tableHTML;
        } catch (error) {
            console.error("Error fetching message details:", error);
        }
    }
    displayData();
    </script>
</body>

</html>